
@{
    ViewData["Title"] = "Strategy";
}



<div>
	<div class="header">
		<h3 class="strategyheader"><b>First Strategy</b></h3>
	</div>
	<p>
		We want to select top 5 stocks on the basis of certain conditions in the IEX trading platform.The conditions are as follows:<br />
		<br/>
		1)	We are selecting the stocks which gave Dividend in last one year. Companies which are in profit can only give dividends. So, this is one of the selecting criteria for stocks.<br />
		2)	Another metric to select stock is Return on Equity. Return on Equity is calculated as net income divided by shareholder’s equity.  We can compare the companies which give large returns per equity. FieldName: returnOnEquity <br />
		3)	Last metric we are looking into is how much is the variance in stock value in last 52 Weeks. This hows how stable is the stock. Lesser the variance more stable stock. This will help us to select more  table stocks in top 5 list. To calculate variance we are using 52 week high and low share values with current share value.<br />
		Variance = (Week52High – Week52low)/latestPrice
		<br />
	</p>
	<div class="header">
		<h3 class="strategyheader"><b>Second Strategy</b></h3>
	</div>
	<p>
	In this Strategy we are using following conditions-:<br />
		<br/>
		1)	We want to select top 5 stocks in the IEX trading platform based on various information given on IEX trading API.<br />
		2)	We are selecting the stocks which gave Dividend in last one year. Companies which are in profit can only give dividends. So, this is one of the selecting criteria for stocks.<br />
		3)	Another metric to select stock is revenue per share. Revenue per share. Company should have good and increasing revenue per share. FieldName: revenuePerShare<br />
		4)	Another metric to select stock is return on Equity. Return on equity is calculated as net income divided by shareholder’s equity.  We can compare the companies which give large returns per equity. FieldName: returnOnEquity<br />
	</p>

</div>
