
@{
    ViewData["Title"] = "Strategy";
}

<h2>Strategy</h2>

<div>
    <p>
		Strategy Applied for Picking Up Stocks<br />
        We have defined the below rules to select Stocks from IEX trading platform which are as follows-:<br />
        •	To Select Stock our first criteria is Revenue Per Share. It is defined as total revenue per share over a designated period. We are extracting this information from Https Request: /stock/aapl/stats.<br />
        •	Our Second Criteria is Return on Equity. It is calculated by dividing net income by shareholders' equity. We are extracting this information from Https Request: /stock/aapl/stats.<br />
        •	Our Third Criteria is Price to Earnings Ratio (PE ratio). It is calculated by ratio of latest Price to latest EPS. We have gathered information from Https Request: /stock/aapl/stats. To Calculate the PE ratio, we have introduced a function called CalculatePriceToEarnings.<br />
        •	Then we sorted the extracted stock information revenue per share, Return on Equity, Price To Earnings Ratio in descending order.<br />
        Using these criteria’s, we sorted and displayed the top 5 stocks.<br />
    </p>
</div>
