@model List<IEXTrading.Models.CompanyDetails>
@{
    ViewData["Title"] = "Strategy2";
}

<h2>Strategy2</h2>

@if (Model != null)
{
    <div>
        <p>
            Symbol  CompanyName
        </p>
    </div>
    <br />
    @foreach (var item in Model)
    {
        <div>
            <p>
                @item.symbol  @item.companyName
            </p>

        </div>
    }
}


