@model List<IEXTrading.Models.CompanyDetails>
@{
	ViewData["Title"] = "Top5";
}

<h2>Top Five Stocks</h2>


<div>
	<a  asp-area="" asp-controller="Home" asp-action="Strategy1">First Strategy</a>
	
</div>
<br />
<div>
	<p>
		<a asp-area="" asp-controller="Home" asp-action="Strategy2">Second Strategy</a>
	</p>
</div>
<br />
<div>
	<p>
		<a asp-area="" asp-controller="Home" asp-action="BothStrategies">BothStrategies</a>
	</p>
</div>

