@model List<IEXTrading.Models.CompanyDetails>
@{
    ViewData["Title"] = "Top5";
}

<h2>Top5</h2>


<div>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="Strategy1">Strategy1 </a>
    </p>
</div>
<br />
<div>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="Strategy2">Strategy2 </a>
    </p>
</div>
<br />
<div>
    <p>
        <a asp-area="" asp-controller="Home" asp-action="BothStrategies">BothStrategies </a>
    </p>
</div>



