@model List<IEXTrading.Models.CompanyDetails>
@{
	ViewData["Title"] = "Top5";
}

<h2>Top5</h2>
<table class="table">
	<thead>
		<tr>
			<th>
				Symbol
			</th>
			<th>
				Name
			</th>
				
		</tr>
	</thead>

	<tbody>

		@if (Model != null)
		{
			
			@foreach (var item in Model)
			{
		<tr>
			<td>
				@item.symbol
			</td>
			<td>
				@item.companyName
			</td>

		</tr>				
			
			}
		}
</tbody>
</table>
